/* структура для работи страница со всеми кодом и текстом */

/* цвет сайта */ /* фон сайта */ /* переход цвет ссилки сайта */
body {
    /* фон для сайта */
    background-image: url("/ivan-rozumnyi/картинки-тестова-структура-сайта/test.png");

    /* background-image: url("../тестова-структура-сайта/test.png"); */

    /* фон для сайта без png картинки */
    background-color: rgb(121, 121, 121);
    
    /* убрать повтор фон сайта */
    background-repeat: no-repeat;

    /* фон для сайта посередине */
    background-position: center;

    /* фон для сайта на всю страницу */
    background-size: cover;

    /* текст посередине для сайта */
    text-align: center;

    /* цвет для главного текста */
    color: black;
}

/* фон сайта */
html, body {
    height: 100%;
    margin: 0;
}

/* цвет для текста ссилок */
a {
    color: blue;
}

/* цвет для текста */
em {
    color: purple;
}

/* цвет для текста и фон текста*/
h2 {
    color: aqua; 
    background-color: black
}

/* цвет для текста */
.text-test {
    color: red;
}

/* цвет для текста */
.text-test1 {
    color: brown;
}

/* цвет для текста */
p {
    color: greenyellow;
}

/* цвет для текста */
footer {
    color: pink;
}
/* конец структури сайта */