/* структура для работи страница со всеми кодом и текстом */

/* цвет сайта */ /* фон сайта */ /* переход цвет ссилки сайта */
body {
    /* фон для сайта */
    background-image: url("../тестова-структура-сайта/test.png");

    /* фон для сайта без png картинки */
    background-color: rgb(121, 121, 121);
    
    /* убрать повтор фон сайта */
    background-repeat: no-repeat;

    /* для текста */
    color: black;

    /* фон для сайта посередине */
    background-position: center;

    /* фон для сайта на всю страницу */
    background-size: cover;

    /* текст посередине для сайта */
    text-align: center;
}
/* для ссилок текста */
a {
    color: blue;
}
/* конец структури сайта */